# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific data & databases
qdrant_db/
*.sqlite3

# Streamlit
.streamlit/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db
